li {
    list-style: none;
}
.flagImages{
    width: 200px;
    height: 200px;
}

.ingredients-container {
    display: flex;
}

.recipe-header {
    display: flex;
}

.recipe-header img {
    width: 150px;
    /* height: auto; */
}

.title-likes {
    padding-left: 5px;
    /* outline: 1px solid blue; */
}

.foodImages {
    width: 200px;
    height: 200px;
}