html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(248, 246, 236);
    font-family: 'Paytone One', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

/*=================
== FLAG PAGE
=================*/
h1 {
    color: #752513;
    font-size: 30px;
}

h4 {
    color: #752513;
}

.country-images {
    /* display: flex; */
    outline: 1px solid yellow;
}

figure {
    outline: 1px solid green;
    text-align: center;
    width: 150px;
}

.flagImages {
    width: auto;
    height: 150px;
    outline: 1px solid red;
    /* display: inline-block; */
}

figcaption{
    /* text-decoration-style: none; */
    font-size: 15px;
    display: inline-block;
    outline: 1px solid orange;
    color: #752513;
}

/*=================
== RECIPE LIST
=================*/

/*=================
== RECIPE PAGE
=================*/
.ingredients-container {
    display: flex;
    outline: 1px solid green;
}

.recipe-header {
    display: flex;
}

.recipe-header img {
    width: 150px;
    /* height: auto; */
}

.title-likes {
    padding-left: 5px;
    /* outline: 1px solid blue; */
}

.foodImages {
    width: 200px;
    height: 200px;
}

li {
    list-style: none;
}
