html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/*=================
== FLAG PAGE
=================*/
.country-images {
    display: flex;
    outline: 1px solid yellow;
}

.flagImages {
    width: 150px;
    height: 150px;
    outline: 1px solid red;
}

figcaption{
    text-decoration-style: none;
    font-size: 10px;
    display: inline-block;
    outline: 1px solid orange;
}

/*=================
== RECIPE LIST
=================*/

/*=================
== RECIPE PAGE
=================*/
.ingredients-container {
    display: flex;
    outline: 1px solid green;
}

.recipe-header {
    display: flex;
}

.recipe-header img {
    width: 150px;
    /* height: auto; */
}

.title-likes {
    padding-left: 5px;
    /* outline: 1px solid blue; */
}

.foodImages {
    width: 200px;
    height: 200px;
}

li {
    list-style: none;
}
